apiVersion: v1
kind: Service
metadata:
  name: ${{ values.appName }}
  labels:
    app: ${{ values.appName }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    app: ${{ values.appName }}

